*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Будет удалено .gitignore
Будет удалено build.gradle
Будет удалено libs/
Будет удалено proguard-rules.pro
Будет удалено src/
/.idea/
Будет удалено simple/libs/headerslib/src/main/res/drawable/
Будет удалено simple/src/main/res/drawable/
